/* post.css */
.post_container {
    text-align: center;
  }
  
  .post_container h3 {
    margin-bottom: .2em;
  }
  
  .post_container .tags {
    display: flex;
    justify-content: center;
  }
  
  .tags p {
    margin-right: 1em;
  }
  
  .tags span {
    font-weight: bold;
  }
  
  .post {
    background-color: #fff; /* Fundo branco para posts */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px; /* Espaçamento interno */
    margin-bottom: 30px; /* Espaçamento entre os posts */
  }
  
  .post h2 {
    color: #2c3e50; /* Azul escuro para os títulos dos posts */
  }
  
  .post p {
    color: #34495e; /* Azul um pouco mais escuro para o conteúdo dos posts */
  }